$color: rgb(0, 202, 218);
$w: 500px;

* {
  box-sizing: border-box;
}

//set size of content box
@mixin rectangle ($h) {
  border: 1px solid rgb(0, 184, 199);
  width: $w;
  height: $h;
}

//set size of titlebar box
@mixin title ($h) {
  width: $w;
  height: $h;
  background: $color;
}

//transition height of section-box
@mixin height-transition ($time) {
  transition: height $time ease;
}

#wholepage {
  padding: 25px 25px;

  .titlebar {
    color: white;
    padding-top: 12px;
    @include title(45px);
    overflow: auto;
    float: left;
    clear: both;

    span {
      font-weight: lighter;
      padding-left: 15px;
    }
  }

  .titlebar:hover {
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    background: rgb(0, 223, 240);
  }

  .section-box {
    overflow: auto;
    float: left;
    clear: both;
    @include rectangle(0px);
    @include height-transition(3.5s);

    p {
      padding-left: 20px;
    }
  }

  .height-change {
    height: 160px;
  }
}
