$color: rgb(0, 202, 218);
$w: 500px;

* {
  box-sizing: border-box;
}

@mixin rectangle ($h) {
  border: 1px solid $color;
  width: $w;
  height: $h;
}

@mixin title ($h) {
  width: $w;
  height: $h;
  background: $color;
}

#wholepage {
  padding: 25px 25px;

  .titlebar {
    color: white;
    padding-top: 12px;
    @include title(45px);
    overflow: auto;
    float: left;
    clear: both;

    span {
      font-weight: lighter;
      padding-left: 15px;
    }
  }

  .section-box {
    overflow: auto;
    float: left;
    clear: both;
    @include rectangle(160px);

    p {
      padding-left: 20px;
    }
  }
}
